
<carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">
  <slide *ngFor="let slide of slides; let index=index">
     <img [src]="slide.image" alt="image slide" class="carousel-img responsive">
     
     <div class="carousel-caption">
        <h4>
          {{slide.title}}
        </h4>
        <p class="d-none d-md-block">
          {{slide.description}}
        </p>
     </div>

  </slide>
</carousel>

<!-- <div>
  <carousel>
    <slide>
      <img src="/assets/carousel-img/5.jpg" alt="first slide" class="carousel-img responsive">
      <div class="carousel-caption">
        <h3>We are a Law firm</h3>
        <p class="d-none d-md-block">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide>
      <img src="/assets/carousel-img/2.jpg" alt="second slide" class="carousel-img responsive">
      <div class="carousel-caption">
        <h3>Professional Services</h3>
        <p class="d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img src="/assets/carousel-img/6.jpg" alt="third slide" class="carousel-img responsive">
      <div class="carousel-caption">
        <h3>Quality Legal Services</h3>
        <p class="d-none d-md-block">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>

    <slide>
        <img src="/assets/carousel-img/3.jpg" alt="third slide" class="carousel-img responsive">
        <div class="carousel-caption ">
          <h3>Reliable Legal Serivce</h3>
          <p class="d-none d-md-block">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </slide>
  </carousel>
</div> -->
