.carousel-container {
    .responsive {
        width: 100%;
        height: auto;
      }

    .carousel-img {
        display: block; 
        width: 100%;
    }

    .action-btn {
        border: 1px solid #fff;
        padding: 2px 35px;
        color: #fff;
        margin-bottom: 8px;
    }
}

/*   Medium screens, laptops  */
@media screen and (max-width: 440px){

    .action-btn-container {
        display: none; 
    }
 }
