.carousel-container {
    border-bottom: 1px solid lightgrey;
    
    .responsive {
        width: 100%;
        height: auto;
      }

    .carousel-img {
        display: block; 
        width: 100%;
        
    }

    .carousel-title {
        font-size: 28px;
    }

    .action-btn {
        border: 1px solid #fff;
        padding: 2px 35px;
        color: #fff;
        margin-bottom: 8px;
    }
}

/*   Medium screens, laptops  */
@media screen and (max-width: 500px){

    .carousel-caption h4{
        font-size: 18px;
    }

    .action-btn-container {
        display: none; 
    }


 }
 
