

<div class="side-bar-wrapper">
  <div class="list-group side-bar-item">
    <a routerLink="/" class="list-group-item bg-body-secondary">
      <fa-icon class="card-icon" [icon]="['fas', 'temperature-high']"></fa-icon>
      WEATHER TODAY</a>
    <a routerLink="/" class="list-group-item">
      <!-- <fa-icon class="card-icon" [icon]="['fas', 'temperature-high']"></fa-icon>  -->
      23 &deg;C 
      <!-- | <fa-icon class="card-icon" [icon]="['fas', 'droplet']"></fa-icon>  -->
      | Rain: 0.2 mm 
    </a>
  </div>

  <div class="list-group side-bar-item">
    <a routerLink="/" class="list-group-item bg-body-secondary">
      <fa-icon class="card-icon" [icon]="['fas', 'rss']"></fa-icon>
       NEWS</a>
    <a routerLink="/" class="list-group-item">
      SA rand gets more weaker
    </a>
    <a routerLink="/" class="list-group-item">
      Eskom terrif hikes
    </a>
    <a routerLink="/" class="list-group-item">
      Meyiwe case proceeds
    </a>
  
  </div>

  <div class="list-group side-bar-item">
    <a routerLink="/" class="list-group-item bg-body-secondary">
      <fa-icon class="card-icon" [icon]="['fas', 'share-nodes']"></fa-icon>
       SOCIAL MEDIA
    </a>
    <a routerLink="/" class="list-group-item">
       <!-- <app-ngx-share-buttons></app-ngx-share-buttons> -->
       <div class="social-buttons-aligner">
        <app-social-media-buttons></app-social-media-buttons>
    </div>
    </a>
  </div>
</div>

