

<div class="side-bar-wrapper">
  <div class="list-group list-group-flush side-bar-item">
    <a routerLink="/" class="list-group-item bg-body-secondary">
      <fa-icon [icon]="['fas', 'scale-balanced']"></fa-icon> OUR SERVICES</a>
    <a routerLink="/" class="list-group-item">RAF Claims</a>
    <a routerLink="/" class="list-group-item">Family Law</a>
    <a routerLink="/" class="list-group-item">Labour Law</a>
  </div>

  <div class="list-group list-group-flush side-bar-item">
    <a routerLink="/" class="list-group-item bg-body-secondary">
      <fa-icon [icon]="['fas', 'square-phone']"></fa-icon> COTANT DETAILS</a>
    <a routerLink="/" class="list-group-item">(+27)71 913-2174</a>
    <a routerLink="/" class="list-group-item">info&#64;monakaliattorneys.co.za</a>
    <a routerLink="/" class="list-group-item">
       <!-- <app-ngx-share-buttons></app-ngx-share-buttons> -->
       <div class="social-buttons-aligner">
        <app-social-media-buttons></app-social-media-buttons>
    </div>
    </a>
  </div>
</div>

