<div class="list-group list-group-flush">
    <a href="#" class="list-group-item bg-body-secondary">MENU</a>
    <a href="#" class="list-group-item">First item</a>
    <a href="#" class="list-group-item">Second item</a>
    <a href="#" class="list-group-item">Third item</a>
  </div>
  <br/>
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item">First item</a>
    <a href="#" class="list-group-item">Second item</a>
    <a href="#" class="list-group-item">Third item</a>
  </div>
