<div id="team-content">
    <div class="content-item-title">
      <fa-icon class="service-header-icon" [icon]="['fas', 'user-tie']"></fa-icon>
      COMPANY DIRECTOR
    </div>
    <div class="content-item-paragraph">
        <span class="personal-names">Mr. Kholekile Monakali</span> - (Attorney & Managing Director)
        <ul>
            <li>2018 - Post Graduate Diploma in Labour Law (UJ)</li>
            <li>2015 - PGDip in Drafting and Interpretation of Contracts (UJ)</li>
            <li>2010 - LLB (UFH)</li>
        </ul>
    </div>
  
    <div class="content-item-title">
      <fa-icon class="service-header-icon" [icon]="['fas', 'user-group']"></fa-icon>
      SUPPORT TEAM
    </div>
    <div class="content-item-paragraph">
        <ul class="support-team-list">
            <li><span class="personal-names">Mrs. Nolubabalo Lavu</span> - Office Manager and Legal Secretary</li>
            <li><span class="personal-names">Mr. Phinda Gegela</span> - General Assistant and Messenger</li>
        </ul>
    </div>
  
  </div>
