/*  Site header */
@use '../abstracts' as *;

.header-container {
    display: flexbox;
    flex-direction: row;

    .sitename-first-row {
        font-weight: bold;
        font-size: 24px;
        color: brown;

    }
    .sitename-second-row {
        font-size: 16px;
        letter-spacing: 2px;
    }
    
}

