/*  Site header */
@use '../abstracts' as *;

.header-container {
    border-bottom: 1px solid lightgrey;
    position: -webkit-sticky;
    position: sticky;
    top: 43px;
    z-index: 9;
    header { 
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 10px;
        grid-template-areas:"site-logo site-names";
    
        .site-logo {
            grid-area: site-logo;
            img {
                height: 55px;
            }
        }
        
        .sitenames {
            grid-area: site-names; 
            display: flex;
            flex-direction: column;      
           
        
            .sitename-first-row {
                font-weight: bold;
                font-size: 24px;
                color: grey;
            }
            .sitename-second-row {
                font-size: 16px;
                letter-spacing: 2px;
            }
        }
    }
}


