/*  
    Grid layout structure 
    Mobile-first approach
*/

.master-page-grid { 

    margin: auto;
    max-width: 900px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

    display: grid;
    // gap: 3px;
    grid-template-columns: 1fr;
    grid-template-rows: auto ;
    grid-template-areas:"navbar"
                        "header"
                        "carousel"
                        "main"
                        "footer";

    background-color: #fff;
    // height: auto;
}

.grid-area-common {
    background-color: #f8f9fa;
    padding: 15px;
    // border-bottom: 15px solid lightgrey;
    
}

/* Navbar Grid Area */
.navbar-container {
    grid-area: navbar;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Header Grid Area */
.header-container {
    grid-area: header;
}

/* Carousel Grid Area */
.carousel-container {
    grid-area: carousel;
}

/* Page Main Area */
.page-content-container {
    border-bottom: 1px solid lightgrey;
    grid-area: main; 
    display: grid;
    // gap: 3px;
    grid-template-rows:1fr;
    grid-template-areas: "page-content-sidebar"
                         "page-content-main";

        /* page-content-main Grid Area */
        .page-content-main {
            background-color: #fff;
            grid-area: page-content-main;
            display: flex;
            flex-direction: column;

            //page-title section
            .page-title {
            padding-bottom: 12px;
            font-size: 18px;
            text-transform: uppercase;
            margin-bottom: 5px;
            }

            //page-content section
            .page-content {
                color: gray;
            }
        }

        // Sidebar Grid Area
        .sidebar-container {
            grid-area: page-content-sidebar;
            background-color: #fff; 
        }
}
 
/* Footer Grid Area */
.footer-container {
    grid-area: footer;
}

/* Site signature */
.signature {
    text-align: center;
    color: grey;
    background-color: #f8f9fa;
    padding: 10px;
}


/*   Medium screens, laptops  */
@media screen and (max-width: 766px){

    .sidebar-container {
        display: none; 
    }
 }

/*   Medium screens, laptops  */
@media screen and (min-width: 768px){
    
    /*  Large screens - Grid Layout areas */
     .master-page-grid { 
         grid-template-areas:"navbar "
                             "header "
                             "carousel "
                             "main"
                             "footer";
     } 

     .page-content-container { 
        grid-template-columns: 1fr 3fr;
        grid-template-areas:"page-content-sidebar page-content-main";
    }

    .signature .social-buttons {
        display: none;
    }

 }
