<div id="about-us-content">
  <div class="content-item-title">
    <fa-icon class="service-header-icon" [icon]="['fas', 'briefcase']"></fa-icon>
    BACKGROUND
  </div>
  <div class="content-item-paragraph">
    K Monakali Inc is a dynamic law firm that has been established in 2018 with
    its principal place of business in Dutywa, provides sound advice and quality
    legal representation with a personal touch.
  </div>

  <div class="content-item-title">
    <fa-icon class="service-header-icon" [icon]="['fas', 'globe']"></fa-icon>
    OUR VISION
  </div>
  <div class="content-item-paragraph">
    To put our client’s interest first. To provide efficient legal services to
    our clients. To always get client’s satisfaction.
  </div>

  <div class="content-item-title">
    <fa-icon class="service-header-icon" [icon]="['fas', 'earth-americas']"></fa-icon>
    OUR MISSION
  </div>
  <div class="content-item-paragraph">
    The reason for our existence is to help our community. We want to be the
    most preferred law firm in our region.
  </div>
</div>
