<div class="footer-wrapper">

    <div class="footer-item footer-item-1">
        <div class="footer-item-header">
            OUR SERVICES
        </div>
        <div class="footer-item-list">
            <ul>
                <li>Commercial Law</li>
                <li>Labour Law</li>
                <li>Family Law</li>
                <li>Personal Injury Law</li>
            </ul>
        </div>
    </div>

    <div class="footer-item footer-item-2">
        <div class="footer-item-header">
            QUICK LINKS
        </div>
        <div class="footer-item-list">
            <ul>
                <li><a class="nav-link" routerLink="/about">About Us</a></li>
                <li><a class="nav-link" routerLink="/services">Our Services</a></li>
                <li><a class="nav-link"  routerLink="/contact">Contact Us</a></li>
                <li> <a class="nav-link"  routerLink="/faq">FAQ</a></li>
              </ul>
        </div>
    </div>

    <div class="footer-item footer-item-3">
        <div class="footer-item-header">
            PHYSICAL ADDRESS
        </div>
        <div class="footer-item-list">
            <ul>
                <li>26 Georg Road</li>
                <li>Southern wood</li>
                <li>East London</li>
                <li>5201</li>
              </ul>
        </div>
    </div>

    <div class="footer-item footer-item-4">
        <div class="footer-item-header">
            CONTACT DETAILS
        </div>
        <div class="footer-item-list">
            <ul>
                <li>(+27)71 913-2174</li>
                <li>(+27)47 489-1267</li>
                <li>info&#64;monakaliattorneys.co.za</li>
                <li>km&#64;monakaliattorneys.co.za</li>
              </ul>
        </div>
    </div>

</div>

