    

<div class=" master-page-grid ">

    <section class="navbar-container">
        <app-nav-bar></app-nav-bar>
    </section>

    <header class="header-container grid-area-common">
        <app-header></app-header>
    </header>

    <section class="carousel-container grid-area-common">
        <app-carousel></app-carousel>
    </section>

    <section class="page-content-container">
        
        <section class="page-content-main grid-area-common">
            <div  class="page-title"> 
                {{title}}
            </div>
            <div class="page-content"> 
                <router-outlet></router-outlet>
            </div>            
        </section>

        <section class="sidebar-container grid-area-common">
            <app-side-bar></app-side-bar>
        </section>
        
    </section>
    
    <footer class="footer-container grid-area-common">
        <app-footer></app-footer>
    </footer>

    <div class="signature"> 
        <div>
            &copy; {{year}} - All rights reserved | Copyright  Monakali Attoneys .Inc | Developed by Yingisani
        </div>
        &nbsp;
      <div class="social-buttons">
        
        <app-social-media-buttons></app-social-media-buttons>
      </div>

    </div>

</div>
    

