<div id="home-content">
  <div class="cards-section">
    
    <div class="cards-container " id="card-left">
      <div class="card-image">
        <img
          src="/assets/cards-img/20.jpg"
          alt="main image"
        />
        <div class="overlay">
          <p class="overlay-text">RAF claims assistance</p>
        </div>
      </div>
      <div class="card-header">RAF CLAIMS</div>
      <div class="btn btn-sm card-button">
        MORE
        <fa-icon class="card-icon" [icon]="['fas', 'chevron-right']"></fa-icon>
      </div>
    </div>

    <div class="cards-container" id="card-center-left">
      <div class="card-image">
        <img
          src="/assets/cards-img/16.png"
          alt="main image"
        />
        <div class="overlay">
          <p class="overlay-text">Estate(s) administration</p>
        </div>
      </div>
      <div class="card-header">ESTATE LAW</div>
      <div class="btn btn-sm card-button">
        MORE
        <fa-icon class="card-icon" [icon]="['fas', 'chevron-right']"></fa-icon>
    </div>
    </div>

    <div class="cards-container" id="card-center-right">
      <div class="card-image">
        <!-- <fa-icon class="card-icon" [icon]="['fas', 'helmet-safety']"></fa-icon> -->
        <img
        src="/assets/cards-img/14.jpg"
          alt="main image"
        />
        <div class="overlay">
          <p class="overlay-text">Employment disputes </p>
        </div>
      </div>
      <div class="card-header">LABOUR LAW</div>
      <div class="btn btn-sm card-button">
        MORE
        <fa-icon class="card-icon" [icon]="['fas', 'chevron-right']"></fa-icon>
      </div>
    </div>

    <div class="cards-container" id="card-right">
        <div class="card-image">
          <!-- <fa-icon class="card-icon" [icon]="['fas', 'helmet-safety']"></fa-icon> -->
          <img
          src="/assets/cards-img/104.jpg"
            alt="main image"
          />
          <div class="overlay">
            <p class="overlay-text">Crime cases</p>
          </div>
        </div>
        <div class="card-header">CRIMINAL LAW </div>
        <div class="btn btn-sm card-button">
          MORE
          <fa-icon class="card-icon" [icon]="['fas', 'chevron-right']"></fa-icon>
        </div>
      </div>
    
  </div>

  <div class="paragraph-section">
    <div class="paragraph-header">
        NEED LEGAL ASSISTANCE?
    </div>
    <div>
        We provides legal services to a wide spectrum of clients, ranging from individuals through small,
         medium firms & companies to institutions such as banks, insurance companies, local authorities. 
    </div>
    <div class="btn-container">
        <div class="btn btn-sm contact-button" >
            <fa-icon class="card-icon" [icon]="['fas', 'phone']"></fa-icon>
            CONTACT US NOW!
        </div>
    </div>
    </div>
</div>
