/* include all _partials from the following directories: */
/* You can add global styles to this file, and also import other style files */
/* FONTS 
-----------------------------------------
*/
/* Font size */
/* Font color */
/* LAYOUTS 
-----------------------------------------
*/
/* Border radius */
/* Layouts gaps */
/* Background color */
/* FORMS 
-----------------------------------------
*
/* textbox */
/* placeholder */
/* error messages */
/* ICONS 
-----------------------------------------
*/
/* form */
/* bind the following _partials to scss/styles.scss */
/*  Rest to default setting */
* {
  margin: 0;
  padding: 0;
}

/* include all _partials from the following directories: */
/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("../../assets/bg-img/4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 13px;
  font-style: normal;
}

/* include all _partials from the following directories: */
/* You can add global styles to this file, and also import other style files */
/*  Site header */
.header-container {
  display: flexbox;
  flex-direction: row;
  border-bottom: 1px solid lightgrey;
}
.header-container .sitename-first-row {
  font-weight: bold;
  font-size: 24px;
  color: brown;
}
.header-container .sitename-second-row {
  font-size: 16px;
  letter-spacing: 2px;
}

/* include all _partials from the following directories: */
/* You can add global styles to this file, and also import other style files */
.navbar {
  padding: 5px 0 5px 0;
}
.navbar .nav-item {
  margin-right: 10px;
  padding-right: 0px;
}
.navbar .nav-link {
  padding: 7px 0px 7px 0px;
  color: lightgray;
}
.navbar .nav-link:hover {
  color: #fff;
}
.navbar .nav-link:focus {
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 575px) {
  .navbar-toggler {
    border: none;
    padding-left: 0;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .nav-link {
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    padding: 4px 0 2px 0;
  }
}
/*  
    Grid layout structure 
    Mobile-first approach
*/
.master-page-grid {
  margin: auto;
  max-width: 900px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "navbar" "header" "carousel" "main" "footer";
  background-color: #fff;
}

.grid-area-common {
  background-color: #f8f9fa;
  padding: 15px;
}

/* Navbar Grid Area */
.navbar-container {
  grid-area: navbar;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Header Grid Area */
.header-container {
  grid-area: header;
  position: -webkit-sticky;
  position: sticky;
  top: 47px;
  z-index: 9;
}

/* Carousel Grid Area */
.carousel-container {
  grid-area: carousel;
}

/* Page Main Area */
.page-content-container {
  border-bottom: 1px solid lightgrey;
  grid-area: main;
  display: grid;
  gap: 3px;
  grid-template-rows: 1fr;
  grid-template-areas: "page-content-sidebar" "page-content-main";
  /* page-content-main Grid Area */
}
.page-content-container .page-content-main {
  background-color: #fff;
  grid-area: page-content-main;
  display: flex;
  flex-direction: column;
}
.page-content-container .page-content-main .page-title {
  padding-bottom: 12px;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.page-content-container .page-content-main .page-content {
  color: gray;
}
.page-content-container .sidebar-container {
  grid-area: page-content-sidebar;
  background-color: #fff;
}

/* Footer Grid Area */
.footer-container {
  grid-area: footer;
}

/* Site signature */
.signature {
  text-align: center;
  color: grey;
  background-color: #f8f9fa;
  padding: 10px;
}

/*   Medium screens, laptops  */
@media screen and (max-width: 766px) {
  .sidebar-container {
    display: none;
  }
}
/*   Medium screens, laptops  */
@media screen and (min-width: 768px) {
  /*  Large screens - Grid Layout areas */
  .master-page-grid {
    grid-template-areas: "navbar " "header " "carousel " "main" "footer";
  }
  .page-content-container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "page-content-sidebar page-content-main";
  }
  .signature .social-buttons {
    display: none;
  }
}
/* include all _partials from the following directories: */
/* You can add global styles to this file, and also import other style files */
.side-bar-item {
  margin-bottom: 10px;
}

.service-header-icon {
  color: brown;
  margin-right: 5px;
}

/* include all _partials from the following directories: */
/* You can add global styles to this file, and also import other style files */
/*  Site footer */
.footer-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  border-bottom: 1px solid lightgrey;
}
.footer-wrapper .footer-item {
  font-size: 16px;
  color: grey;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer-wrapper .footer-item .footer-item-header {
  font-size: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}
.footer-wrapper .footer-item .footer-item-list {
  color: grey;
}
.footer-wrapper .footer-item .footer-item-list ul {
  margin-top: 7px;
}
.footer-wrapper .footer-item .footer-item-list ul li {
  list-style: none;
  font-size: 13px;
  margin-left: -32px;
}

/*   Medium screens, laptops  */
@media screen and (max-width: 633px) {
  .footer-wrapper .footer-item-2 {
    display: none;
  }
  .footer-wrapper .footer-item-1 {
    order: 1;
  }
  .footer-wrapper .footer-item-3 {
    order: 2;
  }
  .footer-wrapper .footer-item-4 {
    order: 3;
  }
}
/*   Medium screens, laptops  */
@media screen and (max-width: 540px) {
  .footer-wrapper .footer-item-1, .footer-wrapper .footer-item-2 {
    display: none;
  }
  .footer-wrapper .footer-item-3 {
    order: 2;
  }
  .footer-wrapper .footer-item-4 {
    order: 1;
  }
}
/*   Medium screens, laptops  */
@media screen and (max-width: 450px) {
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-wrapper .footer-item-1, .footer-wrapper .footer-item-2, .footer-wrapper .footer-item-3 {
    display: none;
  }
  .footer-wrapper .footer-item-3 {
    order: 2;
  }
  .footer-wrapper .footer-item-4 {
    order: 1;
  }
}
.carousel-container {
  border-bottom: 1px solid lightgrey;
}
.carousel-container .responsive {
  width: 100%;
  height: auto;
}
.carousel-container .carousel-img {
  display: block;
  width: 100%;
}
.carousel-container .carousel-title {
  font-size: 28px;
}
.carousel-container .action-btn {
  border: 1px solid #fff;
  padding: 2px 35px;
  color: #fff;
  margin-bottom: 8px;
}

/*   Medium screens, laptops  */
@media screen and (max-width: 500px) {
  .carousel-caption h4 {
    font-size: 18px;
  }
  .action-btn-container {
    display: none;
  }
}
/* include all _partials from the following directories: */
/* You can add global styles to this file, and also import other style files */
/* form and its components */
.form-group {
  margin-bottom: 10px;
}
.form-group .form-control-sm {
  font-size: 12px;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
  font-size: 11px;
  color: lightgrey;
}
.form-group .form-validation-error-message {
  color: red;
  font-size: 12px;
}
.form-group .btn {
  margin-right: 10px;
  font-size: 10px;
  padding: 3px 16px 2px 16px;
  border-radius: 5px;
}
.form-group .submit-button {
  background-color: red;
  color: #fff;
}
.form-group .submit-button:hover {
  background-color: orange;
}
.form-group .clear-btn {
  background-color: grey;
  color: #fff;
}
.form-group .clear-btn:hover {
  background-color: orange;
}

/* include all _partials from the following directories: */
/* You can add global styles to this file, and also import other style files */
#home-content {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "cards-container" "paragraph-container";
  /* cards Grid Area */
  /* Paragraph Grid Area */
}
#home-content .cards-section {
  grid-area: cards-container;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  align-content: space-evenly;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
  /* Large-img Grid Area */
}
#home-content .cards-section .cards-container {
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: #f8f9fa;
}
#home-content .cards-section .cards-container .card-image {
  position: relative;
  object-fit: contain;
}
#home-content .cards-section .cards-container .card-image .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.7s ease;
}
#home-content .cards-section .cards-container .card-image .overlay-text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#home-content .cards-section .cards-container .card-image:hover .overlay {
  cursor: pointer;
  height: 100%;
}
#home-content .cards-section .cards-container img {
  max-height: 110px;
  max-width: 100%;
}
#home-content .cards-section .cards-container .card-header {
  font-weight: bold;
}
#home-content .cards-section .cards-container .card-button {
  border: 1px solid lightgrey;
  border-radius: 0;
  color: grey;
  font-size: 12px;
}
#home-content .cards-section .cards-container .card-button:hover {
  background-color: olivedrab;
  color: white;
}
#home-content .paragraph-section {
  grid-area: paragraph-container;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
#home-content .paragraph-section .paragraph-header {
  font-weight: bold;
}
#home-content .paragraph-section .btn-container {
  margin-top: 5px;
}
#home-content .paragraph-section .btn-container .contact-button {
  background-color: olivedrab;
  color: #fff;
}

/*   Medium screens, laptops  */
@media screen and (min-width: 451px) {
  #home-content .cards-section #card-right {
    display: none;
  }
}
/*   Medium screens, laptops  */
@media screen and (max-width: 450px) {
  #home-content {
    display: flex;
    flex-direction: column;
  }
  #home-content .cards-section {
    order: 2;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
  #home-content .paragraph-section {
    order: 1;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 15px;
    text-align: center;
  }
}
/* include all _partials from the following directories: */
/* You can add global styles to this file, and also import other style files */
.page-content #about-us-content .content-item-title {
  font-weight: bold;
  padding: 0 0 7px 0;
  border-bottom: 1px solid lightgrey;
}
.page-content #about-us-content .service-header-icon {
  color: brown;
  margin-right: 5px;
}
.page-content #about-us-content .content-item-paragraph {
  padding: 10px 0;
}

/* include all _partials from the following directories: */
/* You can add global styles to this file, and also import other style files */
.page-content #our-services-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.page-content #our-services-content .services-card {
  width: 295px;
}
.page-content #our-services-content .services-card .service-header {
  border-bottom: 1px solid lightgrey;
  padding: 5px 0 5px 0;
  font-weight: bold;
}
.page-content #our-services-content .services-card .service-header-icon {
  color: brown;
  margin-right: 5px;
}
.page-content #our-services-content .services-card .service-content {
  padding-top: 5px;
}

.services-content-paragraph {
  text-align: left;
  padding-top: 5px;
}
.services-content-paragraph .btn {
  margin-right: 10px;
  border-radius: 0px;
  font-size: 10px;
  padding: 5px 16px 4px 16px;
}
.services-content-paragraph .submit-button {
  background-color: brown;
  border-radius: 5px;
  color: #fff;
}
.services-content-paragraph .submit-button:hover {
  background-color: red;
}

/* include all _partials from the following directories: */
/* You can add global styles to this file, and also import other style files */
.page-content #contact-us-content {
  display: flex;
  flex-direction: column;
}
.page-content #contact-us-content .content-map {
  border: 1px solid lightgrey;
  padding: 10px;
  margin-top: 5px;
}

/* include all _partials from the following directories: */
/* You can add global styles to this file, and also import other style files */
/* include all _partials from the following directories: */
/* You can add global styles to this file, and also import other style files */

/*# sourceMappingURL=styles.css.map */
